
/********************************************************************************
 * newgrids.css
 *
 * Style tweaks for the new grids.
 ********************************************************************************/


/******************************
 * header table
 ******************************/

.newgrid-wrapper .grid-header td.filters {
    vertical-align: bottom;
    width: 100%;
}

.newgrid-wrapper .grid-header td.menu {
    padding: 0.5em;
    vertical-align: top;
    white-space: nowrap;
}

.newgrid-wrapper .grid-header td.tools {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    white-space: nowrap;
}

.newgrid-wrapper .grid-header td.tools p {
    line-height: 2em;
    margin: 0;
    padding: 0 0.5em 0 0;
}

.newgrid-wrapper .grid-header td.tools form {
    display: inline-block;
}


/******************************
 * filters
 ******************************/

.newgrid-wrapper .newfilters {
    margin: 0;
}

.newgrid-wrapper .newfilters fieldset {
    margin: 0;
    padding: 1px 5px 5px 5px;
    width: 80%;
}

.newgrid-wrapper .newfilters .filter {
    margin-bottom: 2px;
}

.newgrid-wrapper .newfilters .filter:last-child {
    margin-bottom: 0;
}

.newgrid-wrapper .newfilters .filter .toggle {
    margin: 0;
    text-align: left;
    width: 15em;
}

.newgrid-wrapper .newfilters .ui-button-text {
    line-height: 1.4em;
}

.newgrid-wrapper .ui-button-text-icon-primary .ui-button-text {
    padding: 0.2em 1em 0.2em 2.1em;
}

.newgrid-wrapper .ui-selectmenu-button .ui-selectmenu-text {
    padding: 0.2em 2.1em 0.2em 1em;
}

.newgrid-wrapper .newfilters .filter label {
    font-weight: bold;
    padding: 0.4em 0.2em;
    position: relative;
    top: -14px;
}

.newgrid-wrapper .newfilters .filter .value {
    display: inline-block;
    vertical-align: top;
}

.newgrid-wrapper .newfilters .filter .value input {
    height: 19px;
}

.newgrid-wrapper .newfilters .filter .inputs {
    display: inline-block;
    /* TODO: Would be nice not to hard-code a height here... */
    height: 26px;
    vertical-align: top;
}

.newgrid-wrapper .newfilters .buttons {
    margin: 0.5em 0 0 0;
    padding: 0;
}

.newgrid-wrapper .newfilters #add-filter-button {
    margin-right: 5px;
    vertical-align: middle;
}


/******************************
 * table
 ******************************/

.newgrid {
    clear: both;
    margin-top: 1em;
}

.newgrid.no-border {
    margin-top: 0;
}

.newgrid table {
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10pt;
    line-height: normal;
    white-space: nowrap;
}

.newgrid.full table {
    width: 100%;
}

.newgrid.half table {
    width: 50%;
}

.newgrid.no-border table {
    border-left: none;
    border-top: none;
}


/******************************
 * thead
 ******************************/

.newgrid table thead th {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px 3px;
}

.newgrid table thead th:last-child {
    border-right: none;
}

.newgrid table thead th.sortable a {
    display: block;
    padding-right: 18px;
}

.newgrid table thead th.sorted {
    background-position: right center;
    background-repeat: no-repeat;
}

.newgrid table thead th.sorted.asc {
    background-image: url(../img/sort_arrow_up.png);
}

.newgrid table thead th.sorted.desc {
    background-image: url(../img/sort_arrow_down.png);
}


/******************************
 * tbody
 ******************************/

.newgrid tbody td {
    padding: 5px 6px;
}

.newgrid.selectable tbody td {
    cursor: default;
}

.newgrid tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.newgrid tbody tr.hovering {
    background-color: #bbbbbb;
}

.newgrid tbody tr.notice {
    background-color: #fd6;
}

.newgrid tbody tr.notice:nth-child(odd) {
    background-color: #fe8;
}

.newgrid tbody tr.notice.hovering {
    background-color: #ec7;
}

.newgrid tbody tr.warning {
    background-color: #fcc;
}

.newgrid tbody tr.warning:nth-child(odd) {
    background-color: #ebb;
}

.newgrid tbody tr.warning.hovering {
    background-color: #daa;
}

.newgrid tbody td.checkbox {
    text-align: center;
}


/******************************
 * main actions
 ******************************/

.newgrid .actions {
    width: 1px;
}

.newgrid .actions a {
    margin: 0 5px 0 0;
    position: relative;
    top: -2px;
}

.newgrid .actions a:last-child {
    margin: 0;
}

.newgrid .actions .ui-icon {
    display: inline-block;
    position: relative;
    top: 3px;
}


/******************************
 * more actions
 ******************************/

.newgrid .actions div.more {
    background-color: white;
    border: 1px solid black;
    display: none;
    padding: 3px 10px 3px 5px;
    position: absolute;
    z-index: 1;
}

.newgrid .actions .more a {
    display: block;
    padding: 2px 0;
}
