@import url("classic.css"); /* make sure to sync this with the base theme's css filename */

div.body h2 {
    background: #f6eeee;
}

/*class*/
dl.class dt {
    background: #dcfbba;
}

dl.attribute dt {
    background: #ffeaac;
}

dl.method dt, dl.function dt, dl.staticmethod dt {
    background: #fffdae;
}

dl.function dt {
    background: #ccf4fb;
}
dl.class dd dl.docutils dt {
    background: white;
}

.red-font {
    color:red;
}


