
.btn {
    @include font-size(14);
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-family: $main-font;
    font-weight: 700;
    letter-spacing: .25px;
    padding: $gutter / 2 $gutter;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}

.btn--primary {
    border-color: $palette1;
    color: $palette1;

    &:hover {
        background: $palette1;
        color: $white;
        border-color: $palette1;
    }
}

%btn-chevron {
    transition: all .3s ease;
    color: $white;
    position: absolute;
    top: 50%;
    font-family: "Material Design Icons";
}

.btn--next {
    &:after {
        @extend %btn-chevron;
        transform: translate(150%, -50%);
        right: 5px;
        content: mdi("chevron-right");
    }

    &:hover {
        &:after {
            transform: translate(0, -50%);
        }
    }
}

.btn--prev {
    &:after {
        @extend %btn-chevron;
        transform: translate(-150%, -50%);
        left: 5px;
        content: mdi("chevron-left");
    }

    &:hover {
        &:after {
            transform: translate(0, -50%);
        }
    }
}
