.structjsonfield_table .structjsonfield_action_delete {
  background: none;
  border: none;
  outline: none;
}

.structjsonfield_line textarea {
  height: auto;
}

.structjsonfield_table .structjsonfield_action_delete::after {
  content: 'x';
  display: block;
  height: 1em;
}
